@import "./_mixins.scss";
@import "../partials/_fonts.scss";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  //color: $veon-black;
}
p {
  font-family: "OpenSansLight", sans-serif;
  line-height: 3rem;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSansLight", sans-serif;
  
  &.center {
    text-align: center;
  }

  &.no-margin {
    margin: 0;
  }

}